.entry-image {
  max-height: 280px;
  height: 100%;
  object-fit: cover;
}

.dictionary-card {
  height: 100%;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-footer p {
  margin-bottom: 0;
}

.card-footer select{
  width: 90px;
}
 
@media only screen and (max-width: 900px) and (min-width: 760px)   {
 
  .card-footer select{
    display: none;
  }

}  

@media only screen and (max-width: 350px)     {
 
  .card-footer select{
    display: none;
  }
    
}