.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.image {
  width: 90%;
  height: auto;
}

.file-input {
  display: none;
}

.upload-image-button {
  float: right;
  margin-top: 20px;
}

