.classify-results div.row {
  margin: auto;
}

.classify-results div button.btn.btn-outline-primary {
  height: 100%;
  width: 100%;
  display: flex;
}

.translation-button:focus {
  background-color: #4e73df;
  color: white;
}

.save-container {
  display: flex;

}

.saved-confirmation-alert {
  margin-left: 1em;
  margin-bottom: 0;
  padding-top: 0.1em;
  color: green;
}
