div.jumbotron.hero-photography {
  color: #fff; 
  font-family: 'Quicksand', sans-serif;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;    
  margin-left: -1px;
  margin-right: -1px; 
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.hero-text{
  margin-left: 3vh;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff; 
}

p.hero-subtitle {
  max-width: 600px; 
  color: #fff;
  font-weight: bold;
}

#dashboard{
  margin-top: -24px;
  padding: 0;
}

/*  Gallery  */

.p-3 p{
  margin: 0;
}

.img-fluid {
  height: 150px; 
  object-fit: cover;
}

.dashboard-traslation{ 
  color: #4e73df !important;
}